.env*
**/ssh-keys
**/tls
!sample_dotenv/.env*

titiler/

registry_auth/*
!registry_auth/.gitkeep

minio_certs/*
!minio_certs/.gitkeep

k8s/manifests/secrets/accelerator-be-secret.yaml
k8s/manifests/secrets/celery-cluster-secret.yaml
k8s/manifests/secrets/rabbitmq-pubsub-secret.yaml
k8s/manifests/secrets/k8s-worker-secret.yaml
k8s/manifests/secrets/remark42.secret.yaml
k8s/manifests/secrets/redis-secret.yaml
k8s/manifests/secrets/accms-secrets.yaml
k8s/manifests/secrets/sshgateway-secret.yaml
k8s/manifests/secrets/acc-threads-secrets.yaml
