apiVersion: apps/v1
kind: Deployment
metadata:
  name: accelerator-be
spec:
  replicas: 1
  selector:
    matchLabels:
      app: accelerator-be
  template:
    metadata:
      labels:
        app: accelerator-be
      annotations:
        kubernetes.io/restart-at: "2025-10-22T10:50:33+0410"
    spec:
      containers:
      - name: acc-be
        image: registry.iiasa.ac.at/accelerator/iiasa-acc-be:0df2244
        envFrom:
          - secretRef:
              name: accelerator-be-secret
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        resources:
          limits:
            memory: "4095Mi"
            cpu: "4000m"
            ephemeral-storage: "2Gi"
          requests:
            memory: "4095Mi"
            cpu: "4000m"
            ephemeral-storage: "2Gi"
      
      
      imagePullSecrets:
        - name: iiasaregcred
---
apiVersion: v1
kind: Service
metadata:
  name: accelerator-be-service
spec:
  type: NodePort
  selector:
    app: accelerator-be
  ports:
    - protocol: TCP
      port: 8770
      targetPort: 8000
      nodePort: 30106
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: registry.iiasa.ac.at/accelerator/redis:6.2
        resources:
          limits:
            memory: "256Mi"
            cpu: "250m"
          requests:
            memory: "256Mi"
            cpu: "250m"
        envFrom:
          - secretRef:
              name: redis-secret
        ports:
        - containerPort: 6379
        command:
          - sh
          - -c
          - redis-server --requirepass "$REDIS_PASSWORD"
      #   volumeMounts:
      #   - name: redis-data
      #     mountPath: /data
      # volumes:
      # - name: redis-data
      #   persistentVolumeClaim:
      #     claimName: redis-pvc